<div class="jumbotron">
    <h1>File search</h1>
    <p class="lead">Searches for a string in the local folder "SearchFiles".</p>
    <strong class="lead">@Html.ActionLink("File search", "Index", "Explorer")</strong>
</div>